services:
  asterisk:
    image: andrius/asterisk:latest
    container_name: webrtc-asterisk
    hostname: asterisk
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./asterisk/etc:/etc/asterisk
      - ./asterisk/sounds:/var/lib/asterisk/sounds
      - ./asterisk/keys:/etc/asterisk/keys
      - ./asterisk/logs:/var/log/asterisk
      - ./certs:/etc/certs:ro
    environment:
      - ASTERISK_UID=1000
      - ASTERISK_GID=1000
    cap_add:
      - NET_ADMIN
      - SYS_NICE
    depends_on:
      - coturn

  coturn:
    image: coturn/coturn:latest
    container_name: webrtc-coturn
    hostname: coturn
    network_mode: host
    restart: unless-stopped
    volumes:
      - ./coturn/turnserver.conf:/etc/turnserver.conf:ro
      - ./certs:/etc/certs:ro
    command:
      - "-c"
      - "/etc/turnserver.conf"

  nginx:
    image: nginx:alpine
    container_name: webrtc-nginx
    ports:
      - "80:80"
      - "443:443"
    restart: unless-stopped
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/html:/usr/share/nginx/html:ro
      - ./certs:/etc/certs:ro
    depends_on:
      - asterisk

  registration-monitor:
    image: webrtc-registration-monitor
    container_name: webrtc-registration-monitor
    hostname: registration-monitor
    network_mode: host
    restart: unless-stopped
    environment:
      - ASTERISK_HOST=127.0.0.1
      - ASTERISK_AMI_PORT=5038
      - ASTERISK_AMI_USER=admin
      - ASTERISK_AMI_SECRET=admin123
      - GENESYS_SIP_HOST=192.168.210.81
      - GENESYS_SIP_PORT=5060
      - DN_RANGE_START=5001
      - DN_RANGE_END=5020
      - LOG_LEVEL=INFO
    depends_on:
      - asterisk




